    <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    
      <servers>
        <server>
          <id>core-releases</id>
          <username>core-user</username>
          <password>core-user</password>
        </server>
        <server>
          <id>core-snapshots</id>
          <username>core-user</username>
          <password>core-user</password>
        </server>
      </servers>
 
    </settings>
